.form {
  &__group {
    display: flex;
    flex-direction: column;
    &__input {
      width: 60%;
    }
    &__div {
      &__ul {
        list-style-type: none;
        padding: 0;
        &__li {
          &__main {
            border: 1px solid #c5c5c5;
            background: #f6f6f6;
            text-align: left;
            white-space: nowrap;
            width: 14em;
            padding: 0.4em 1em;
            display: inline-block;
            position: relative;
            line-height: normal;
            margin-right: 0.1em;
            cursor: pointer;
            vertical-align: middle;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
          }
        }
        &__ul {
          padding: 0;
          border: 1px solid #c5c5c5;
          overflow: auto;
          height: 200px;
          overflow-x: hidden;
          padding-bottom: 1px;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
          position: absolute;
          width: 256px;
          z-index: 99;
          background: white;
          &__li {
            margin: 0;
            cursor: pointer;
            position: relative;
            padding: 3px 1em 3px 0.4em;
            &:hover {
              border: 1px solid #003eff;
              background: #007fff;
              font-weight: normal;
              color: #ffffff;
              margin: -1px;
            }
          }
        }
      }
    }
    &__error {
      color: red;
      font-size: 15px;
      margin-top: 2px;
    }
  }
  &__div {
    margin: 20px 0px;
    border: 1px solid black;
    padding: 20px 10px;
    &__p {
      margin: 0px 0px -1rem 0px;
      position: relative;
      top: -30px;
      z-index: 2;
      width: 54px;
      background-color: white;
    }
    &__group {
      display: flex;
      flex-direction: column;
      &__input {
        margin: 10px 0px;
        width: 60%;
      }
    }
  }
  &__submit {
    text-align: center;
    margin-top: 30px;
    &__btn {
      background-color: #5a6f08;
      cursor: pointer;
      margin-bottom: 40px;
      padding: 10px 20px;
      color: white;
      border-radius: 5px;
      border: none;
      transition: all 400ms;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
