
.table {
    width: 100%;
    min-width: 1000px;
    max-width: 1000px;
    border-bottom: 1px solid #111;
    border-spacing: 0;
    clear: both;
    &__head {
        &__tr {
            &__th {
                padding: 10px 18px;
                border-bottom: 1px solid #111;
                cursor: pointer;
                &__both {
                    background: url('../../../../../../../public/assets/sort_both.png');
                    background-repeat: no-repeat;
                background-position: center right;
                }
                &__asc {
                    background: url('../../../../../../../public/assets/sort_asc.png');
                    background-repeat: no-repeat;
                background-position: center right;
                }
                &__desc {
                    background: url('../../../../../../../public/assets/sort_desc.png');
                    background-repeat: no-repeat;
                background-position: center right;
                }
            }
        }
    }
    &__body {
        &__tr {
            &__td {
                border-top: 1px solid #ddd;
                padding: 8px 10px;
                &__border {
                    padding: 8px 10px;
                    border-top: none;
                }
                &__even {
                    background-color: #f9f9f9;
                    &__first {
                        background-color: #f1f1f1;
                    }
                }
                &__odd {
                    &__first {
                        background-color: #fafafa;
                        &__center {
                            text-align: center;
                            padding: 8px 10px;
                            
                        }
                    }
                }
                &__norecord {
                    background-color: #f9f9f9;
                    text-align: center;
                    padding: 8px 10px;
                }
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
        overflow: scroll;
    }
}